
div {
    border:1px solid black;
    background-color: white;
    cursor:pointer;

    min-width:40px;
    min-height:50px;
    margin: 5px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.blueColor{
    background-color: blue;
}

.selected{
    background-color: #FFC8B4;
}


#preOrder
{
    margin-top:20px;
}