
div {
    border:1px solid black;
}

#root {
    width:400px;
    height:200px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.firstChild
{
    width:180px;
    height:160px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.secondChild
{
    width:70px;
    height:120px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.thirdChild
{
    width:20px;
    height:80px;
}

#opt
{
    border:none;
    margin-top:20px;
}